@model dynamic

@{
    ViewBag.Title = "Fixtures";
}

<h2>Fixtures</h2>

<div id="fixture-list" data-role="collapsible-set">
    <div data-role="collapsible">
        <h3>June 2013</h3>
        <table data-role="table" id="fixture-6" data-mode="reflow" class="table-stroke fixture-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Course</th>
                    <th>First tee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sun 2 June</td>
                    <td>Altrincham</td>
                    <td>11:00am</td>
                </tr>
                <tr>
                    <td>Sun 16 June</td>
                    <td>Malkins Bank</td>
                    <td>10:10am</td>
                </tr>           
                <tr>
                    <td>Fri 21 June</td>
                    <td><div class="major ui-icon ui-icon-star"></div>Turton</td>
                    <td>9:00am?</td>
                </tr>           
                <tr>
                    <td>Sun 30 June</td>
                    <td>Knights Grange</td>
                    <td>10:10am</td>
                </tr>           
            </tbody>
        </table>

    </div>
    <div data-role="collapsible">
        <h3>July 2013</h3>
        <table data-role="table" id="fixture-7" data-mode="reflow" class="table-stroke  fixture-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Course</th>
                    <th>First tee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sun 14 July</td>
                    <td>Walmersley</td>
                    <td>10:00am</td>
                </tr>
                <tr>
                    <td>Fri 19 July</td>
                    <td><div class="major ui-icon ui-icon-star"></div>Lymm</td>
                    <td>9:00am?</td>
                </tr>
                <tr>
                    <td>Sun 28 July</td>
                    <td>Boysnope</td>
                    <td>10:30am</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div data-role="collapsible">
        <h3>August 2013</h3>
        <table data-role="table" id="fixture-8" data-mode="reflow" class="table-stroke  fixture-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Course</th>
                    <th>First tee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sun 11 August</td>
                    <td>Hart Common</td>
                    <td>10:30am</td>
                </tr>
                <tr>
                    <td>Fri 16 August</td>
                    <td><div class="major ui-icon ui-icon-star"></div>Worsley</td>
                    <td>9:00am?</td>
                </tr>
                <tr>
                    <td>Sun 25 August</td>
                    <td>Antrobus</td>
                    <td>dunno??</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div data-role="collapsible">
        <h3>September 2013</h3>
        <table data-role="table" id="fixture-9" data-mode="reflow" class="table-stroke   fixture-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Course</th>
                    <th>First tee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fri 5 September</td>
                    <td><div class="major ui-icon ui-icon-star"></div>Blackpool, North Shore</td>
                    <td>dunno??</td>
                </tr>
                <tr>
                    <td>Sat 21 September</td>
                    <td>Hart Common (Tommy)</td>
                    <td>dunno??</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
