@model dynamic

@{
    ViewBag.Title = "Next Match";
}

<h2>Next Match</h2>

<table data-role="table" id="fixture-next" data-mode="reflow" class="table-stroke  fixture-next">
    <thead>
        <tr>
            <th>Date</th>
            <th>Course</th>
            <th>First tee</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sun 2 June</td>
            <td>Altrincham</td>
            <td>11:00am</td>
        </tr>

    </tbody>
</table>
